<html>

<body>

<table border="1" >

<tr>
    <td colspan="11">
        <marquee bgColor="yellow" behavior=alternate><p style="color:#FF0000";>CALYFACTORY ADMIN</p></marquee>   
    </td>
</tr>
<tr>
    <td colspan="11">
        <center>
        데이터 추가 
        </center>
    </td>
</tr>
<form method="post" action="admin">
    <tr>
        <td>
            지역
        </td>
        <td>
            카테고리 
        </td>
        <td>
            나이
        </td>
        <td>
            성별 
        </td>
        <td>
            상호명 
        </td>
        <td>
            이미지 
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="region"/>
        </td>
        <td>
            <input type="text" name="category"/>
        </td>
        <td>
            <input type="text" name="age"/>
        </td>
        <td>
            <input type="text" name="gender"/>
        </td>
        <td>
            <input type="text" name="title"/>
        </td>
        <td>
            <input type="file" name="img" accept=".jpg,.png,.jped,.bmp,.gif,.bpg"/>
        </td>
    </tr>
    <tr>
        <td>
            주소 
        </td>
        <td>
            거리정보 
        </td>
        <td>
            가격
        </td>
        <td>
            지도 주소 
        </td>
        <td>
            딥링크 주소 
        </td>
        <td>
            저장
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="address"/>
        </td>
        <td>
            <input type="text" name="distance"/>
        </td>
        <td>
            <input type="text" name="price"/>
        </td>
        <td>
            <input type="text" name="map_url"/>
        </td>
        <td>
            <input type="text" name="deep_url"/>
        </td>
        <td>
            <input type="submit" style="background-color:red;width:100%">
        </td>
    </tr>
</form>

</table>
</body>

</html>